# FOR LOOP

In [3]:
#reverse loop
i = 5
n = 0
while i > n:
    print(i)
    i -= 1

5
4
3
2
1

In [5]:
#3 best way to reverse loop
i = 0
n = 5
while i < n:
    print(n-i)
    i += 1

5
4
3
2
1

In [7]:
name = "pawan"
for alphabet in name:
    print('hi')

hi
hi
hi
hi
hi

In [9]:
name = "pawan"
for alphabet in name:
    print(alphabet)

p
a
w
a
n

In [12]:
parchi =  ['tamatar', 'pyaz','aloo','bhindi']

for sabzi in parchi:
    print(sabzi)

tamatar
pyaz
aloo
bhindi

In [23]:
fruits = ('mango','apple','banana','litchi')

for f in fruits:
    print('eat',f)

eat mango
eat apple
eat banana
eat litchi

In [30]:
student = {'name' : 'pawan' , 'age' : 24, 'city' : 'batala'}

for s in student.items():
    print(s)

('name', 'pawan')
('age', 24)
('city', 'batala')

In [28]:
student = {'name' : 'pawan' , 'age' : 24, 'city' : 'batala'}

for key in student.keys():
    print(key)

name
age
city

In [29]:
student = {'name' : 'pawan' , 'age' : 24, 'city' : 'batala'}

for value in student.values():
    print( value)

pawan
24
batala

In [31]:
S = {8,5,6,8,8,9,4}

for i in S:
    print(i)

4
5
6
8
9

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

In [34]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [35]:
n = 2
for i in range(1, 10):
    print(n, 'x' , i, '=', n*i )

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [1]:
name = "Anshu"

for i in range(len(name)):
    # print(i)
    print(name[i])

A
n
s
h
u

In [2]:
## random number generation  using random library

In [3]:
import random

In [4]:
### install library  * pip install pandas *

In [20]:
random.randint(1,20)

2

In [51]:
li = []

for i in range(15):
    num = random.randint(1,10)
    print(num, end = " ")
    li.append(num)
    
print()   
print(li)

4 2 1 6 3 2 8 4 3 6 5 2 9 5 2
[4, 2, 1, 6, 3, 2, 8, 4, 3, 6, 5, 2, 9, 5, 2]

In [57]:
li = [2,3,4,5]
a = []
for i in li:
    s = i ** 2 
    a.append(s)
print(li)
print(a)

[2, 3, 4, 5]
[4, 9, 16, 25]

In [65]:
a = []
for i in range(5):
    a.append(random.randint(1,10))
a

[6, 1, 9, 7, 1]

In [77]:
## list  omprehension

l = [ random.randint(1,10) for i in range(5)]
print(l)

[10, 6, 1, 7, 2]

In [78]:
b = [ l[i] ** 2 for i in range(len(l))]
print(l)
print(b)

[10, 6, 1, 7, 2]
[100, 36, 1, 49, 4]

In [81]:
print(l)

p = []
for i in range(len(l)):
    p.append(l[i]**2)
print(p)

[25, 81, 81, 81, 49]
[625, 6561, 6561, 6561, 2401]

In [82]:
##  zip ---> items ko saath me le aata hai

In [83]:
name=["shubham","akash",'abhi']
age = [20,26,30]

In [87]:
d = {}
for i , j in zip(name, age):
    d[i] = j
print(d)

{'shubham': 20, 'akash': 26, 'abhi': 30}

In [90]:
di = {i:j for i,j in zip(name , age)}
di

{'shubham': 20, 'akash': 26, 'abhi': 30}