# FOR LOOP

In [3]:
#reverse loop
i = 5
n = 0
while i > n:
    print(i)
    i -= 1

5
4
3
2
1

In [5]:
#3 best way to reverse loop
i = 0
n = 5
while i < n:
    print(n-i)
    i += 1

5
4
3
2
1

In [7]:
name = "pawan"
for alphabet in name:
    print('hi')

hi
hi
hi
hi
hi

In [9]:
name = "pawan"
for alphabet in name:
    print(alphabet)

p
a
w
a
n

In [12]:
parchi =  ['tamatar', 'pyaz','aloo','bhindi']

for sabzi in parchi:
    print(sabzi)

tamatar
pyaz
aloo
bhindi

In [23]:
fruits = ('mango','apple','banana','litchi')

for f in fruits:
    print('eat',f)

eat mango
eat apple
eat banana
eat litchi

In [30]:
student = {'name' : 'pawan' , 'age' : 24, 'city' : 'batala'}

for s in student.items():
    print(s)

('name', 'pawan')
('age', 24)
('city', 'batala')

In [28]:
student = {'name' : 'pawan' , 'age' : 24, 'city' : 'batala'}

for key in student.keys():
    print(key)

name
age
city

In [29]:
student = {'name' : 'pawan' , 'age' : 24, 'city' : 'batala'}

for value in student.values():
    print( value)

pawan
24
batala

In [31]:
S = {8,5,6,8,8,9,4}

for i in S:
    print(i)

4
5
6
8
9

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

In [34]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [35]:
n = 2
for i in range(1, 10):
    print(n, 'x' , i, '=', n*i )

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [37]:
name = "pawan"

for i in range(len(name)):
    # print(i)
    print(name[i])

p
a
w
a
n