# While Loop

## repeating a task again and agian until certain criteris is satisfied

In [1]:
# starting an infinite loop
while True:
    print('hi')
    print('hello')
    # exiting a loop
    break
    print('bye')

# printing a value after while loop
print('your name is Pawan')

hi
hello
your name is Pawan

In [2]:
# starting a number
i = 1
# starting an infinite while loop
while True:
    # printing i value
    print(i)
    # i += 1
    # checking i is equal to 5
    if i == 5:
        # breaking a loop
         break
    # increasing i
    i += 1

1
2
3
4
5

In [3]:
i

5

In [4]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [5]:
i = 2
while i <= 10:
    print(i)
    i += 2

2
4
6
8
10

In [6]:
## main synatx of while loop
i = 0
n = 7
while i <= n:
    print(i)
    i += 1

0
1
2
3
4
5
6
7

In [7]:
# making table of 7 using loop
i = 1
n = 10
while i <= n:
    print( 7 , "X" , i , '=' , i*7 )
    i += 1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [8]:
# making table by taking any number from user
num = int(input('enter the table you want'))
i = 1
n = 10
while i <= n:
    print( num , "X" , i , '=' , i*num )
    i += 1

enter the table you want 89

89 X 1 = 89
89 X 2 = 178
89 X 3 = 267
89 X 4 = 356
89 X 5 = 445
89 X 6 = 534
89 X 7 = 623
89 X 8 = 712
89 X 9 = 801
89 X 10 = 890

In [9]:
## find sum of numbers
sum = 0
i = 0
n = 5
while i < n :
    sum += i
    print(i , sum)
    i += 1
print("hello",sum)

0 0
1 1
2 3
3 6
4 10
hello 10

In [10]:
name = 'pawan'

In [11]:
len(name)

5

In [12]:
## indexing slicing
name = 'pawan'
i = 0
n = len(name)
while i < n:
    print(i, n, name, name[i], name[2:5])
    i +=1

0 5 pawan p wan
1 5 pawan a wan
2 5 pawan w wan
3 5 pawan a wan
4 5 pawan n wan

In [13]:
## sum of list elements
li = [8,4,6,1,2,3,5,7,9,5]
i = 0
n = len(li)
total = 0
while i < n :
    # print( n,'i =' , i, total)
    total += li[i]
    i += 1
print(total)

50

# Q1

In [13]:
########## MAXIMUM IN LIST ###############
# Declare a variable say max_element and initialize it with a[0].
# Run a loop for range a.len().
# Check if(a[i]>max_element) then set max_element to a[i]
# After complete iteration print(max_element)

a = [8,4,6,1,2,3,5,7,9,5]
i = 0
n = len(a) 
maxi = a[0] 
while  i < n:
    if a[i] > maxi: 
        maxi = a[i]
    i += 1
print("maximum is :" , maxi)

maximum is : 9

# Q2

In [14]:
##### minimum in list #####
a = [8,4,6,1,2,3,5,7,9,5]
i = 0
n = len(a) 
mini = a[0] 
while  i < n:
    if a[i] < mini: 
        mini = a[i]
    i += 1
print("minimum is :" , mini)

minimum is : 1

# Q3

In [26]:
##### find both largest and smallest element in array #####

arr = [10, 89, 9, 56, 4, 80, 8]
i = 1
n = len(arr)
mini = arr[0]
maxi = arr[0]

while i < n:
    if arr[i] > maxi: 
        maxi = arr[i]

    if arr[i] < mini:
        mini = arr[i]
        
    i += 1

print("maximum is :" , maxi)
print("minimum is :" , mini)

maximum is : 89
minimum is : 4

In [18]:
##### MINIMUM AND MAXIMUM USING USER INPUT SIZE AND ARRAY #####

size=int(input('enter the lentgh of array'))
arr=[]
for i in range(size):
    arr.append(int(input('Enter the Values–>')))
    arr.sort()
print('the smallest value',min(arr),'the gretaes value',max(arr))

enter the lentgh of array 2
Enter the Values–> 1
Enter the Values–> 2

the smallest value 1 the gretaes value 2

# Q4

In [42]:
##### find SECOND SMALLEST ELEMENT IN THE ARRAY #####
# USING TWO ITERATION
# Take a variable say first and set it to integer maximum value.
# Run a loop for range (0, len(arr))
# Check if first > arr[i], set first = arr[i]
# Now, declare a variable say second and set it to integer maximum value.
# Run a loop for range (0, len(arr))
# Check if ( arr[i] != first and arr[i]<second), set second = arr[i]
# Print(second)

arr = [5, 2, 8, 1, 3]

i = 0
n = len(arr)
mini = float('inf')
second_mini = float('inf') 

while i < n :
    if arr[i] < mini:
        mini = arr[i]
    i += 1

i = 0 # reset i value for second loop
while i < n:
    if arr[i] != mini and arr[i] < second_mini:
        second_mini = arr[i]
    i += 1
    
print('first smallest element :' , mini)
print('second smallest element :', second_mini)

first smallest element : 1
second smallest element : 2

In [50]:
##### find second smallest using one iteration #####

arr = [5, 2, 8, 1, 3]

i = 0
n = len(arr)
mini = float('inf')
second_mini = float('inf')

while i < n:
    if arr[i] < mini:
        second_mini = mini
        mini = arr[i]
    elif arr[i] != mini and arr[i] < second_mini:
        second_mini = arr[i]
    i += 1
    
print('first:', mini)
print('second :' , second_mini)

first: 1
second : 2

# Q5

In [12]:
## FIND SUM OF All ELEMENTS OF ARRAY ###
arr = [10, 89, 9, 56, 4, 80, 8]

i = 0
n = len(arr)
total = 0
while i < n:
    total = total + arr[i]
    i += 1
print("sum of elements is :", total)

sum of elements is : 256

In [2]:
## using inbuilt function
arr = [10, 89, 91, 56, 4, 84, 8]
print('sum of all element is:', sum(arr))

sum of all element is: 342

# Q6

In [28]:
### Reverse an Array using Python
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print('original array is :',arr)
start = 0
end = len(arr)-1
while start < end:
    arr[start] , arr[end] = arr[end] , arr[start]
    start += 1
    end -= 1
print("  sorted array is :",arr)

original array is : [1, 2, 3, 4, 5, 6, 7, 8, 9]
  sorted array is : [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
### slicing method
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
reverse = arr[::-1]
print(reverse)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Q7

In [21]:
### Sort First half in Ascending and Second half in descending order 
arr = [12, 4, 9, 1, 15, 7, 20, 3, 10, 8]
arr.sort()

i = 0
mid = len(arr)//2

## first half ascending
while i < mid:
    print(arr[i], end=" ")
    i += 1
    
## second half descending
i = len(arr)-1
while i >= mid:
    print(arr[i],end="  ")
    i -= 1

1 3 4 7 8 20  15  12  10  9

In [29]:
arr2 = [14, 5, 2, 9, 18, 7, 3]
arr2.sort()

i = 0
mid = len(arr2)//2

while i <= mid:
    print(arr2[i], end = " ")
    i += 1

j = len(arr2)-1
while j > mid:
    print(arr2[j], end=" ")
    j -= 1

2 3 5 7 18 14 9

In [36]:
## list generation
import random
arr = [random.randint(1,50) for x in range(random.randint(5,6))]
print(arr)

[33, 29, 17, 27, 31, 23]

# Q8